.auth-sidebar-template {
  background-color: $body-color;
  .template-container {
    min-height: 100vh !important;
    .fixed.menu {
      .ui.container {
        margin: 0 !important;
      }
    }
    .module-container {
      margin: 7em 0 0;
    }
  }

  @media screen and (min-width: $break-small) {
    .sign-out-button {
      position: fixed !important;
      right: 0;
    }
    .pusher {
      transform: none;
      margin-left: 0;
      transition: margin-left .5s ease !important;
      .ui.inverted.top.fixed.menu {
        transition: left .5s ease;
      }
    }
  
    .ui.visible.left.sidebar~.pusher {
      transform: none;
      margin-left: 260px;
      transition: margin-left .5s ease !important;
      .ui.inverted.top.fixed.menu {
        left: 260px;
        right: 0;
        width: auto;
        transition: left .5s ease;
      }
    }
  }
}