$blue: #2c9ab7;
$white: #e8e8e8;
$black: #0b0a0b;
$black-alt: #03030a;
$black-light: #303549;
$grey-light: #a6a6a7;
$grey-dark: #7f7f81;
$gold: #d09240;
$gold-dark: #b86a1c;
$gold-gradient: linear-gradient(315deg, $gold 0%, $gold-dark 100%);
$brown: #322c33;
$green: #079e57;
$green-light: #04d25d;
$green-dark: #0a6656;
$blue-dark: #1a202e;
$navy-blue: #070c24;
$submit-green: #22c18e;
$active-link-start: #4bfff4;
$active-link-end: #41ffaf;
$sell-pink: #c2315c;
$modal-background: #1d192d;
$warning: #9f3a38;

:root {
  --navbarColor: #0d0d1b;
}

$navbar-color: var(--navbarColor); 

// Font size
$regular-font: 14px;
$big-font: 24px;

// Global Config
$primary: $gold;
$body-bg: #121126;
$body-color: #f5f5f5;
$card-color: $black-alt;

// Jumbotron
$jumbotron-bg: $grey-light;
$card-bg: $grey-dark;

// Misc
$border-radius: 4;

// Type
$font-family-sans-serif: 'Inter UI', sans-serif;
$headings-margin-bottom: 0.5em;
$text-dark: $gold;

$heading-color: $white;
$description-color: $grey-light;

$break-small: 576px;