@import '../../styles/bootstrap';

.side-menu-header-buffer {
  height: 2.85em;
}

.side-menu-info-container {
  padding-top: 2em !important;
  .title {
    text-align: center;
    color: $heading-color !important;
  }
  .description {
    text-align: center;
    color: $description-color !important;
  }
}