@import './form/form';
@import './input/input';
@import './submitButton/submitButton';

form > .field {
  margin-bottom: 1em;
  .error {
    text-align: left;
    margin-top: 0.5em;
    color: $warning;
    font-family: 'Lato';
  }
}